@media screen and (max-width: 768px) {
  body.active {
    overflow-y: hidden;
  }
  .header__menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  .burger {
    position: relative;
  }
  .burger,
  .burger:before,
  .burger:after {
    display: block;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  .burger:before {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .burger:after {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  .header__menu-btn.active {
    position: fixed;
    right: 25px;
  }
  .header__menu-btn.active .burger {
    height: 0;
    background: rgba(255, 255, 255, 0.8);
  }
  .header__menu-btn.active .burger:before {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
    background: rgba(255, 255, 255, 0.8);
  }
  .header__menu-btn.active .burger:after {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    background: rgba(255, 255, 255, 0.8);
  }
  .header-navbar.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-navbar {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    padding: 0px 0px 0 0px;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .header-navbar ul li {
    margin: 0 0 40px 0;
    /*outline: 1px salmon solid;*/
  }
  .header-navbar ul a {
    /*outline: 1px salmon solid;*/
    color: #ffffff;
    font-size: 24px;
  }
}
