@import url("..//styles/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");

$font: "Cormorant SC", serif;
$font-stack-text: 400 16px "Cormorant SC", serif;
/*%title-style {
    font-family: $font;
    font-size: 36px;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
}*/
body {
    font: $font-stack-text;
    /*overflow-x: hidden;*/
}
header {
    width: 100%;
    height: 100vh;
    background: url("..//images/bg-head.png") no-repeat center center;
    background-size: cover;
}
.container {
    max-width: 1170px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}
.title-style {
    font-size: 36px;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}
.title-style::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    width: 60px;
    height: 6px;
    background: url("..//images/stripes.png") no-repeat;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
    box-sizing: border-box;
}
.header-nav__my-name {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #212121;
}
.header-navbar {
    ul {
        display: flex;

        li {
            margin-right: 38px;
            position: relative;
        }
        li:last-child {
            margin-right: 0;
        }
        a:before {
            content: "";
            position: absolute;
            bottom: 0;
            transition: all 0.5s ease;
        }
        a:hover:before {
            height: 2px;
            width: 100%;
            background: #000;
        }
        a {
            font-size: 16px;
            line-height: 32px;
            font-weight: 400;
            color: #212121;
            text-transform: uppercase;
        }
    }
}
.header-main {
    margin: 240px 0 0 30px;
    box-sizing: border-box;
}
.hgroup {
    margin-bottom: 25px;
    h1 {
        font-size: 46px;
        line-height: 32px;
        font-weight: 700;
        color: #212121;
        margin-bottom: 8px;
    }
    h3 {
        opacity: 0.9;
        font-size: 22px;
        line-height: 32px;
        font-weight: 400;
        color: #212121;
    }
}
.header-main__btns {
    display: flex;
}
.header-main__btns-one {
    padding: 20px 41px;
    background-color: #212121;
    box-shadow: -1px 10px 18px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;

    font-weight: bold;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
}
.header-main__btns-two {
    padding: 20px 28px;
    border: 1px solid #212121;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
    margin-left: 20px;
    font-size: 16px;
    font-weight: 800;
    color: #212121;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
}

/* ABOUT */

.about__contains {
    max-width: 543px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 123px 10px 120px 10px;
    box-sizing: border-box;
}
.about__title {
    font-size: 36px;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}
.about__title::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    width: 60px;
    height: 6px;
    background: url("..//images/stripes.png") no-repeat;
}
.about__info {
    line-height: 26px;
    font-weight: 400;
    color: #212121;
    text-align: center;
    margin-bottom: 30px;

    b {
        font-weight: 700;
    }
}
.about__btn {
    display: block;
    max-width: 190px;
    max-height: 40px;
    margin: 0 auto;
    line-height: 32px;
    font-weight: 500;
    padding: 20px 31px;
    color: #ffffff;
    background-color: #212121;
    box-shadow: -1px 10px 18px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    text-transform: uppercase;
}

.my-skill {
    .container {
        max-width: 1200px;
        padding: 0;
        padding-bottom: 120px;
    }
}

.my-skill__list {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    box-sizing: border-box;
    margin: 0 10px;
}
.my-skill__column {
    display: block;
    width: 33.333%;
    padding-right: 30px;
    box-sizing: border-box;
}
.my-skill__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}
.my-skill__progres {
    position: relative;
    max-width: 370px;
    width: 100%;
    height: 15px;
    background-color: #dfdfdf;
    margin: 11px 0 50px 0;
}

.my-skill__progres-html:before,
.my-skill__progres-js:before,
.my-skill__progres-vue:before,
.my-skill__progres-bootstrap:before,
.my-skill__progres-npm:before,
.my-skill__progres-bem:before,
.my-skill__progres-scss:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #000;
}
.my-skill__progres-html:before {
    width: 85%;
}
.my-skill__progres-js:before {
    width: 50%;
}
.my-skill__progres-vue:before {
    width: 60%;
}
.my-skill__progres-bootstrap:before {
    width: 90%;
}
.my-skill__progres-npm:before {
    width: 70%;
}
.my-skill__progres-bem:before {
    width: 80%;
}
.my-skill__progres-scss:before {
    width: 100%;
}

.skill-info {
    width: 100%;
    height: auto;
    background: url("..//images/bg_img.png") no-repeat top;
    background-size: 100% auto;

    .container {
        padding-top: 217px;
    }
}
.skill-info__block {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px 9px rgba(0, 0, 0, 0.15);
}
.skill-info__title {
    padding-top: 119px;
    box-sizing: border-box;
}
.skill-info__item {
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 49px 0 118px 0;
}
.skill-info__item-icon {
    width: 51px;
    height: 45px;
}

.skill-info__item-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #000000;
    margin: 12px 0 17px 0;
}
.skill-info__item-content {
    opacity: 0.9;
    line-height: 26px;
    color: #000000;
    padding: 0 15px;
    box-sizing: border-box;
}

.works {
    margin-top: 120px;
}
.works__title {
    margin-bottom: 40px;
}


.works__columns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.works__item {
    position: relative;
    flex-basis: 33.3333%;
    padding: 1rem;
    box-sizing: border-box;
    

    img {
        max-width: 100%;
        height: 282px;
        display: block;
    }
}
.works__link {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}
.works__col {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background: #95e1d3;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
.works__col:hover .works__link {
    transform: translate3d(-10px, -10px, 0);
}
.works__link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s ease;
}
.works__col:hover .works__link:before {
    background: rgba(0, 0, 0, 0.6);
}
.works__show-title {
    position: absolute;
    left: 76px;
    bottom: 100px;
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.works__link:hover .works__show-title {
    opacity: 1;
}
.time {
    background: url("..//images/bg_img_2.png") no-repeat center center / cover;
    height: auto;
}
.time__item {
    padding: 0 10px;
    box-sizing: border-box;
}
.time__colums {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 89px 102px;
}
.time__count {
    font-size: 100px;
    line-height: 32px;
    font-weight: 300;
    color: #ffffff;
}
.time__count-info {
    font-size: 30px;
    line-height: 32px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 25px;
}

.contact {
    padding-top: 121px;
}
.contact__form {
    padding: 64px 0 89px 0;
}
.contact__user-info {
    display: flex;
}
.contact__name {
    all: unset;
    border-bottom: 1px solid #000;
    max-width: 570px;
    width: 100%;
    margin-right: 31px;
    flex: 1 1 auto;
}
.form-style[placeholder] {
    font: $font-stack-text;
    line-height: 32px;
    font-weight: 400;
    color: #000000;
}

.contact__email {
    all: unset;
    border-bottom: 1px solid #000;
    max-width: 570px;
    width: 100%;
}

.contact__message {
    all: unset;
    border-bottom: 1px solid #000;
    width: 100%;
    height: 170px;
    margin: 54px 0 41px 0;
}
.contact__coontainer-btn {
    max-width: 174px;
    width: 100%;
    height: 51px;
    margin: 0 auto;
}
.contact__btn {
    all: unset;
    width: 100%;
    height: 51px;
    opacity: 0.67;
    border: 1px solid #212121;
    box-shadow: -1px 14px 24px 0px rgba(0, 0, 0, 0.18);
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    color: #212121;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

.footer {
    display: flex;
    align-items: center;
    height: auto;
    background-color: #212121;

    .container {
        padding: 20px 0 30px 0;
    }
}
.footer__copy {
    display: block;
    max-width: 200px;
    width: 100%;
    font-weight: 400;
    color: #ffffff;
    position: relative;
    top: 30px;
    text-align: center;
    margin: 0 auto;
}
.footer__sosial {
    display: flex;
    max-width: 90px;
    width: 100%;
}

.footer__instagram {
    display: block;
    width: 36px;
    height: 36px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    margin-right: 12px;
}
.footer__instagram:hover,
.footer__github:hover {
    background-color: #ffffff;
}
.footer__github {
    display: block;
    width: 36px;
    height: 36px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-align: center;
}

.fab {
    position: relative;
    top: 50%;
    transform: translateY(-55%);
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}
.footer__instagram:hover .fab,
.footer__github:hover .fab {
    color: #0077b5;
}

.arrow-top {
    position: fixed;
    bottom: 30px;
    right: 32px;
    width: 42px;
    height: 42px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px #000;

    .fa-long-arrow-alt-up {
        text-align: center;
        position: relative;
        left: 50%;
        top: 30%;

        transform: translateX(-50%);
    }
}























@media screen and (max-width: 1200px) {











    
    
    .works__columns {
        justify-content: space-between;
        max-width: 770px;
        margin: 0 auto;
        padding: 0 1rem;
        margin-bottom: 100px;
    }
    .works__item {
        flex-basis: 50%;
        max-width: 370px;

    }







    .skill-info {
        .container {
            padding-top: 160px;
        }
    }
    






}












































@media screen and (max-width: 768px) {
    body.active {
        overflow-y: hidden;
    }
    .header__menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 20px;
        cursor: pointer;
        position: relative;
        z-index: 2;
        right: 15px;
    }
    .burger {
        position: relative;
    }
    .burger,
    .burger:before,
    .burger:after {
        display: block;
        width: 100%;
        height: 2px;
        background: rgba(0, 0, 0, 0.8);
        transition: transform 0.5s ease;
    }

    .burger:before {
        content: "";
        position: absolute;
        left: 0;
        transform: translateY(-10px);
    }
    .burger:after {
        content: "";
        position: absolute;
        left: 0;
        transform: translateY(10px);
    }
    .header__menu-btn.active {
        position: fixed;
        right: 25px;
    }
    .header__menu-btn.active .burger {
        height: 0;
        background: rgba(255, 255, 255, 0.8);
    }
    .header__menu-btn.active .burger:before {
        transform: rotate(50deg);
        background: rgba(255, 255, 255, 0.8);
    }
    .header__menu-btn.active .burger:after {
        transform: rotate(-50deg);
        background: rgba(255, 255, 255, 0.8);
    }
    .header-navbar.active {
        display: flex;
    }
    .header-navbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        padding: 0px 0px 0 0px;
        display: none;
        justify-content: center;

        ul {
            flex-direction: column;
            justify-content: center;
            align-self: center;
            align-items: center;
            align-content: center;


            li {
                margin: 0 0 40px 0;
                /*outline: 1px salmon solid;*/
            }
            a {
                /*outline: 1px salmon solid;*/
                color: #ffffff;
                font-size: 24px;
            }
        }
    }




    .works__columns {
        justify-content: center;
        max-width: 400px;
        margin: 0 auto;
        padding: 0 0rem;
        margin-bottom: 100px;
    }
    .works__item {
        flex-basis: 100%;

    }









    
    .my-skill__column {
        width: 50%;
    }





    .skill-info {    
        .container {
            padding-top: 80px;
        }
    }
    .skill-info__title {
        padding-top: 60px;
    }
    .skill-info__item {
        padding: 10px 0 118px 0;
    }
    







}










@media screen and (max-width: 576px) {





    .header-main {
        margin: 240px 0 0 30px;
        box-sizing: border-box;
    }
    .hgroup {
        h1 {
            font-size: 42px;
            line-height: 22px;
        }
        h3 {
            font-size: 18px;
            line-height: 22px;
        }
    }
    .header-main__btns-one {
        padding: 15px;
        font-size: 16px;
    }
    .header-main__btns-two {
        padding: 15px;
        font-size: 16px;

    }




    .my-skill__list {
        justify-content: center;
        margin-top: 70px;

    }
    .my-skill__column {
        margin: 0;
        padding: 0;
        flex-basis: 80%;
    }



    .skill-info {    
        .container {
            padding-top: 50px;
        }
    }
    .skill-info__title {
        padding-top: 60px;
    }
    .skill-info__item {
        padding: 10px 0 80px 0;
    }





    .time__item {
        padding: 0 10px 40px 10px;
        width: 150px;
        margin: 0 auto;
    }
    .time__colums {
        flex-direction: column;
        padding: 50px 0px;
    }




    .contact__form {
        padding: 64px 0 89px 0;
    }
    .contact__user-info {
        flex-direction: column;
    }

    
    .contact__email {
        margin-top: 30px;
    }

}